




/* Ignore everything below this line... */

.fruits {
  position: absolute;
  left: 175px;
  top: 50px;
  z-index: 999;
}

.fruit-tree {
  position: absolute;
  left: 0;
  top: 0;
}

.yoshi {
  position: absolute;
  left: 300px;
}

h2 {
  position: absolute;
  right: 20%;
  top: 0;
  width: 400px;
}